.small-container{
    max-width: 80%;
    margin: auto;
    padding-left: 25px;
    padding-right:25px ;
}

.cart-page{
    margin: 80px auto;
    table{
        width: 100%;
        border-collapse: collapse;

        th{
            text-align: left;
            padding: 5px;
            color: white;
            background: #eda7a9;
            font-weight: normal;
        }
        td{
            padding: 10px 5px;
            
        }
        img{
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }
        p:last-child{
            cursor: pointer;
            color:#45a29e ;
            width: 50px;
            margin: 0 auto;
        }
        a{ 
            position: relative;
            top: 10rem;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}

.cart.info{
    display: flex;
    flex-flow: row wrap;
    
}

.total{
    display: flex;
    justify-content: flex-end;

    table{
       border-top: 3px solid #eda7a9; 
       width: 100%;
       max-width: 370px;
    }
}
td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

