.cart-page {
  display: flex;
  width: 80%;
  margin: 4rem auto 0 auto;
  flex-flow: row wrap;

  .no-items{
    margin: 0 auto;
  }
   .w3 {
    flex-basis: 80%;
    border: 1px solid black;
    background: linear-gradient(
    270deg,
    rgba(226, 215, 215, 1) 0%,
    rgba(255, 255, 255, 1) 85%
  );
  }

  .w1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    flex-basis: 20%;
    border: 1px solid black;
  }
  button {
    border: none;
    background-color: #45a29e;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    display:flex;
    margin: 20px auto;
  }
  .btnborrar {
    background-color: #eda7a9;  
  }
}

  

