.items-row{
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 0.5rem;
    top: 7rem;
    margin-left: 15%;
    margin-right: 15%;

    a{
        text-decoration: none;
        &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
            color: black;
        }
    }
}
