#gretting{
    margin: 12vh auto auto auto;
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    color: black;

    h1{
        font-size: 5vw;
    }
    p{
        margin-top: 2vh;
        font-size: 35px;
    }
}
